@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    font-family: "Pixelify Sans", sans-serif;
    padding: 0;
    margin: 0;
    color: aliceblue;
}

img {
    width: 400px;
}

body {
    background-image: linear-gradient(black, blueviolet);
}

#intro-pag {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
}

.nav1 {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.aba {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.botao1 {
    text-decoration: none;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px white;
}

.botaofinal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.botao {
    box-shadow: 3px 3px 3px black;
    text-decoration: none;
    background-color: blueviolet;
    border: 3px solid black;
    border-radius: 10px;
    padding: 15px;
}

.botao:hover {
    background-color: black;
}

.botao1:hover {
    border-color: black;
    box-shadow: 3px 3px 3px black;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.geralzao {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 15px;
}

.geral {
    width: 1000px;
    display: flex;
    border: 7px solid white;
    border-radius: 20px;
    gap: 100px;
    box-shadow: 7px 7px 7px black;
    padding: 4px;
}

.conteudo-padrao {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-left: 10%;
}